/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

div, section, article {
  border: 0;
  padding: 0;
  margin: 0;
  font: inherit;
}

.group {
  content: '';
  display: block;
  clear: both;
}

#board-container {
  width: 800px;
  margin: auto;
}

.board {
  margin: auto;
  width: 418px;
  height: 418px;
  border: 1px solid #000;
}

.board article {
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  border: 1px solid #000;
}

section > div:nth-child(odd) {
  
}

.tile:hover {
  /*background-color: #f00;*/
}

.white-background {
  background-color: #bb9;  
}

.grey-background {
  background-color: #777;
}

.piece.white {
  color: #fff;
}

/*.tile:hover {
  background-color: #f00;
}*/

.errors {
  height: 30px;
  display: block;
  text-align: center;
}

.tile.move-tile {
  border: 1px solid #0f0;
}

.moveable-piece:hover {
  cursor: pointer;
}